.header-background{
    background: #040404;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h2 {
    color: #fff;
    width: fit-content;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  .ml-2{
    margin-left: 10px;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 228px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }