<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-background">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="index.html">Rahul</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Home</a> </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#work">Work</a></li>
          <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/cover.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am Rahul Kawari</h1>
          <div class="hero-subtitle typewriter">
            <h2>Developer</h2>
          </div>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
  
  <main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="assets/img/rahul_passport_size.jpg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Rahul Kawari</span></p>
                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                        <p><span class="title-s">Email: </span> <span>kawarirahul@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>(+61)0450645078</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>HTML</span><span class="pull-right ml-2">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right ml-2">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Angular</span> <span class="pull-right ml-2 ">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>React</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Node js</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>.Net</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>SQL Server</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>MongoDB</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Git</span> <span class="pull-right ml-2">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      Hello! I'm Rahul Kawari, a passionate IT professional with a strong foundation in web and software
                      development. I hold a bachelor's degree in Information Technology and bring over two years of
                      experience in full-stack web development.
  
                    </p>
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Education and Skills
                      </h5>
                    </div>
                    <p class="lead">
  
  
                      I completed my bachelor's degree in IT, equipping myself with a solid understanding of the
                      technological landscape.
                      My skill set spans across various technologies. My skills and their proficiency has been listed in
                      the left side.
  
                    </p>
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Professional Experience
                      </h5>
                    </div>
                    <p class="lead">
                      For the past two years, I've been a key contributor to the success of Purple Patch, a company where I've
                      immersed myself in full-stack web development. This experience has not only honed my technical
                      skills but has also allowed me to actively participate in various projects.
  
                    </p>
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Passion for Technology
                      </h5>
                    </div>
                    <p class="lead">
                      I am deeply passionate about staying at the forefront of technological advancements. This drive
                      motivates me to continuously enhance my skill set, ensuring that I bring the latest and most
                      effective solutions to the projects I undertake.
                    </p>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Github Projects
              </h3>
              <p class="subtitle-a">
                
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Angular Frontend Project</h2>
                <p class="s-description text-center">(Angular, Bootstrap, Animate.css, Jquery)</p>
                <app-expandable-div [initialHeight]="'120px'" [text]="'
                  This project was developed as a demo for customer for front end application. 
                  The project consists of multiple UIs developed as the modification as per users taste.
                  The project was built on angular and external libraries like bootstrap.
                  '"></app-expandable-div>
                  <a class="text-primary" href="https://github.com/unknownshack/RKInternWebsite">Angular Frontend Project Github Link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">MEAN Stack Template</h2>
                <p class="s-description text-center">(Angular, Nodejs, Express, MongoDB)</p>
                <app-expandable-div [initialHeight]="'120px'" [text]="'This project sets up the template for MEAN stack project. 
                The project has been structured such that when the front end project is developed and build, the files are used by the backend project.
                The express and nodejs defined the routes for the both frontend UIs and banckend APIs.'"></app-expandable-div>
  
                <a class="text-primary" href="https://github.com/unknownshack/mean-stack-template">MEAN Stack Template Github Link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Quiz</h2>
                <p class="s-description text-center">(MongoDB, Express, React, Nodejs)</p>
                <app-expandable-div [initialHeight]="'120px'" [text]="'
                  This project is a quiz app that was requested by client. The application consist of sign in feature that
                  requires email and mobile to login. After the login, the user is redirected to  quiz questions. Based on the answer
                  to the quiz, the user is credited with points.
                  '"></app-expandable-div>
                <a class="text-primary" href="https://github.com/unknownshack/quiz-app">Github link for QUIZ project</a>
  
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">.Net API for Android Application</h2>
                <p class="s-description text-center">(C#, .NET, Entity Core Framework)</p>
                <app-expandable-div [initialHeight]="'96px'" [text]="'
                  This project developed .Net is backend project developed to provide APIs for the android application.
                  The project used swagger to load all the APIs for information.
                  '"></app-expandable-div>
                  <a class="text-primary" href="https://github.com/unknownshack/OnlinePlatformApi">Github link for .Net API project</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">File Sync React Project</h2>
                <p class="s-description text-center">(Reactjs, nodejs, express, sql server, .Net background service)</p>
                <app-expandable-div [initialHeight]="'96px'" [text]="'
                  This project was developed such that file would be synced with database values inserted through the UI.
                  I needed to update the hosts file for local dns resolution. So from the UI urlname and ip was entered which
                  would be inserted into database and synced with hosts file.
  
                  Alternative project developed before was done in .Net as background service. The service would sync host file
                  with file that is easily accessible to user. For example: text file in the desktop.
                '"></app-expandable-div>
                <a href="https://github.com/unknownshack/FileSync" class="text-primary">Link to React FileSync Project</a>
                <br/>
                <a href="https://github.com/RohitY2J/HostFileUpdate" class="text-primary">Link to .Net FileSync Project</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">HelpingMinds</h2>
                <p class="s-description text-center">(Kotlin, Android Studio, .Net, EntityCoreFramework, Sql Server)</p>
                <app-expandable-div [initialHeight]="'96px'" [text]="'
                  This project was developed for the organization helpingminds based on Australia.
                  The main purpose of this application was to help users to organize their events related to specified organization.
                  The application consisted of feature like login, signup, creating event, setting timer for event, responding to event, and so on.
                  '"></app-expandable-div>
                <a href="https://github.com/unknownshack/HelpingMinds" class="text-primary">HelpingMinds Mobile App Link</a><br/>
                <a href="https://github.com/unknownshack/HelpingMindsAPI" class="text-primary">HelpingMinds API Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
  
    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-4 col-lg-4">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1"
                  class="counter purecounter">4</p>
                <span class="counter-text">WORKS COMPLETED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                  class="counter purecounter">2</p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1"
                  class="counter purecounter">4</p>
                <span class="counter-text">TOTAL CLIENTS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->
  
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-1.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Lorem impsum dolor</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-2.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Loreda Cuno Nere</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-3.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mavrito Lana Dere</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-4.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Bindo Laro Cado</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-5.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Lena Mado</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="assets/img/work-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="assets/img/work-6.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </section> -->
    <!-- End Portfolio Section -->
  
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
  
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="assets/img/rahul_passport_size.jpg" alt="" style="width: 150px; height: 150px;"
                        class="rounded-circle b-shadow-a">
                      <span class="author">Rahul Kawari</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        I believe there should be balance between process and target to get satisfied outcome.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
  
                <!-- <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <img src="assets/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                      <span class="author">Marta Socrate</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                      </p>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
  
            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
          
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->
  
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <!-- <p class="subtitle-a">
                These are some of my blog collections.
              </p> -->
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Navigation and Routing.md'}"><img src="assets/img/post-1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Angular</h6>
                  </div>
                </div>
                <h3 class="card-title"><a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Navigation and Routing.md'}">Angular Router and Navigation</a></h3>
                <p class="card-description">
                  Angular Router and Navigation to setup routing and navigation through different pages.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="assets/img/rahul_passport_size.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Rahul Kawari</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Collections in NET.md'}">
                  <img src="assets/img/post-2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">.Net</h6>
                  </div>
                </div>
                <h3 class="card-title"><a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Collections in NET.md'}">Collections in .Net</a></h3>
                <p class="card-description">
                  Study about collections and comparison among different collection types.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="assets/img/rahul_passport_size.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Rahul Kawari</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Components.md'}">
                  <img src="assets/img/post-3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Angular</h6>
                  </div>
                </div>
                <h3 class="card-title"><a [routerLink]="['/angular-introduction']" [queryParams]="{file:'Angular Components.md'}">Components in Angular</a></h3>
                <p class="card-description">
                  Study about components in angular and ways to parameter between different components.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="assets/img/rahul_passport_size.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Rahul Kawari</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="assets/img/post-3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Web Design</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>
                <p class="card-description">
                  Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                  a pellentesque nec,
                  egestas non nisi.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="assets/img/rahul_passport_size.jpg" alt="" class="avatar rounded-circle">
                    <span class="author">Rahul Kawari</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> 10 min
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section><!-- End Blog Section -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
      style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message Us
                      </h5>
                    </div>
                    <div>
                      <!-- <form (ngSubmit)="submitForm()" #contactForm="ngForm" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading" *ngIf="loading">Loading</div>
                            <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
                            <div class="sent-message" *ngIf="successMessage">{{ successMessage }}</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rounded">Send Message</button>
                          </div>
                        </div>
                      </form> -->
                      <form  (ngSubmit)="submitForm()" #contactForm="ngForm" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div *ngIf="successMessage">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        I am currently open to exciting job opportunities, freelance projects, and collaborative ventures.
                        If you have a project you'd like to discuss, or if you're interested in connecting for potential
                        collaborations, feel free to reach out. I am passionate about full stack web development and am
                        eager to contribute my expertise to meaningful projects.
                        <br />
                        <br />
                        Feel free to drop me a message through the provided contact options. I look forward to hearing
                        from you!
  
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> 21 Laycock Road, Pehurst, Sydney, Australia</li>
                        <li><span class="bi bi-phone"></span> (+61) 0450645078</li>
                        <li><span class="bi bi-envelope"></span> kawarirahul@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                        <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  
  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>RahulKawari</strong>. All Rights Reserved</p>
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
            -->
              <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->